.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.line {
  width: 70%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.formDiv {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
}

.divContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.slideUp {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid black;
}
.doubleDivContainer {
  display: flex;
  gap: 10px;
}
.ipContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.ipContainer input,
.selectField,
.textAreaField {
  font-size: 1.1rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  padding: 5px 10px;
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}
.ipContainer label {
  margin-top: 20px;
  color: rgba(47, 47, 47, 0.9);
}

.select {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.navigatePage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
  gap: 10px;
}

.btn {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  outline: none;
  /* margin: 0 1rem; */
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.btn:hover {
  background-color: #555;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn:active {
  background-color: #111;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.subBtn {
  background-color: #28a745;
}

.subBtn:hover {
  background-color: #218838;
}

.subBtn:active {
  background-color: #1e7e34;
}

.btn svg {
  margin: 0 0.2rem;
  font-size: 1.2rem;
}

.signin {
  border: 1px solid green;
  margin: 100px 0px;
  width: 35%;
}

.formBody {
  width: 100%;
}

.link {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.link a {
  text-decoration: none;
  color: green;
}

.link a:hover {
  text-decoration: underline;
}

@media (max-width: 400px) {
  .signin {
    border: none;
  }
}

@media (max-width: 1050px) {
  .signin {
    width: 70%;
  }
}
