.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  background-color: rgb(1, 60, 1);
  height: 300px;
  color: white;
  border-radius: 20px;
  padding: 100px;
  text-align: center;
}

.search {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
}

.search input {
  outline: none;
  font-size: 19px;
  border: none;
  width: 60vmin;
}

.search button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(1, 60, 1);
  padding: 5px;
  border-radius: 10px;
  font-size: 30px;
}

.search button:hover {
  cursor: pointer;
  background-color: rgba(1, 60, 1, 0.9);
}

.categoriesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.popularServices {
  display: flex;
  justify-content: center;
}

.h1 {
  font-size: 45px;
  width: 50%;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 1200px) {
  .h1 {
    font-size: 30px;
    width: 100%;
  }
  .header {
    padding: 100px 20px;
  }
}

@media (max-width: 900px) {
  .h1 {
    font-size: 30px;
    width: 100%;
  }
  .header {
    padding: 100px 20px;
  }
}
