.msgrCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  margin: 5px 0;
  transition: all 0.2s;
}
.msgrCard:hover,
.currUser {
  background-color: #f2f2f2;
  cursor: pointer;
}
.msgInfo {
  margin: 0 5px;
}
.msgInfo p {
  margin: 0;
}
.msgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time {
  font-size: 14px;
  color: rgb(72, 72, 72);
}
.msgrCard > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 5px;
}

.userName {
  display: -webkit-box;
  --max-lines: 1;
  width: 180px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  font-size: 17px;
}

.recentMsg {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  display: -webkit-box;
  --max-lines: 1;
  width: 250px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.recentMsg .deleted {
  color: gray;
  font-size: 14px;
}

.recentMsg .deleted .icon {
  font-size: 17px;
}
.profileIcon2 {
  position: relative; /* Ensures positioning context for the child element */
  width: 55px; /* Example width for the image */
  height: 55px; /* Example height for the image */
  border-radius: 50%; /* If you want the image to be circular */
  object-fit: cover; /* Ensures the image fits well */
}

.online {
  position: absolute;
  bottom: 0; /* Positions at the bottom of the image */
  right: 0; /* Positions at the right of the image */
  width: 10px;
  height: 10px;
  background-color: rgb(0, 196, 13);
  border-radius: 50%;
  box-shadow: 0 0 2px 2px rgba(49, 223, 61, 0.5);
}

.profileContainer {
  position: relative;
  display: inline-block; /* Ensures the container size wraps the image */
}
