.pageContainer {
  padding: 10px 0;
  margin-bottom: 100px;
}
.h2 {
  font-weight: 500;
  font-size: 28px;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
