/* GroupedUsers.css */

/* General Styling */
.pageContainer {
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.notFound {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}

/* Button Styling */
button.border {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1dbf73;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button.border:hover {
  background-color: #0cb300;
}

button.border .icon {
  margin-right: 8px;
  font-size: 1.2rem;
}

/* Cards Container */
.cardsContainer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  height: 580px;
}

/* Groups Sidebar */
.groups {
  width: 25%;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow: auto;
}

.groups h4 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 15px;
}

.grpContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grp {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  height: 100%;
  overflow: auto;
}

.grp:hover,
.grp.currGrp {
  background-color: rgba(227, 227, 227, 0.5);
}

/* Group Cards */
.grpCards {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.grpCards .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.grpCards .container div {
  display: flex;
  gap: 10px;
}

.container h5,
.container input.h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}
p {
  margin: 0;
}

.container input.h5 {
  border: 2px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}

.container input.h5:focus {
  outline: none;
}

.cardsDiv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
  }

  .groups {
    width: 100%;
  }
}
