.GroupCard {
  display: flex;
  flex-direction: row;
  margin: 7px 15px;
  justify-content: space-between;
}
/* .GroupCard .profilePic {
  width: 70px;
  height: 70px;
} */

.GroupCard .profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}
.GroupCard {
  background-color: #fff;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.GroupCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
