.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 100px;
  padding: 25px 25px;
  border-radius: 5px;
  margin: 30px 20px;
}

.card:hover {
  box-shadow: 3px 3px 4px rgb(0, 0, 0, 0.2), -1px -1px 1px rgb(0, 0, 0, 0.1);
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.profileInfoFlex {
  display: flex;
}
.profilePic {
  min-width: 90px;
  height: 90px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-width: 550px; */
  margin: 0 10px;
  max-width: 900px;
}

.line2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.line2 > div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.ipDivContainer2 {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  flex-wrap: wrap;
}

.ipDivContainer2 > div {
  flex: 1;
}

.wrapText {
  display: -webkit-box;
  --max-lines: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 450;
  font-size: 14px;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.like {
  font-size: 15px;
  padding: 9px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 15px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 10px;
}

.details > div {
  width: 100%;
}

.border {
  display: flex;
  outline: none;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
.simpleBtn {
  padding: 8.5px;
  width: 100px;
}

.border:hover {
  background-color: rgba(154, 152, 152, 0.1);
  cursor: pointer;
}
.landInfo {
  display: flex;
  gap: 5px;
  font-size: 20px;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
}
.landInfo h5 {
  margin: 0;
}
.landInfo span {
  font-size: 18px;
  margin: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background with 50% opacity */
  z-index: 400;
}
/* customModal.css */
.popUp {
  width: 50%;
  max-width: 500px;
  position: fixed;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%, -50%);
  gap: 16px;
  z-index: 500;
}

.popUp form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popUp .ipContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popUp .ipContainer label {
  font-size: 18px;
  font-weight: bold;
}

.popUp .ipContainer input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.popUp button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.popUp h4 {
  margin: 0;
  color: black;
  font-size: 20px;
}
.popUp .buttons {
  display: flex;
  gap: 20px;
}
.popUp button:last-of-type {
  background-color: #e2e8f0;
  color: #333;
}
#grps {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}
.popUp button:last-of-type:hover {
  background-color: #cbd5e0;
}

.existingGroups {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: 1px solid #ddd;
  padding-top: 16px;
}

.existingGroups div {
  font-weight: bold;
}

.existingGroups button {
  background-color: #edf2f7;
  color: #333;
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 8px;
  cursor: pointer;
}

.existingGroups button:hover {
  background-color: #e2e8f0;
}

@media (max-width: 850px) {
  .profileInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .line2 {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .wrapText {
    text-align: justify;
  }
  .details {
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .ipDivContainer2 {
    flex-direction: column;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  .ipDivContainer2 {
    flex-direction: row;
  }
}
